<WebGrab>
  <filename>epg.xml</filename>
  <mode>n</mode>
  <update>i</update>
  <output>xmltv</output>
  <postprocess>
    <!-- Incluir aqui quaisquer passos de pós-processamento, se necessário -->
  </postprocess>
  <channels>
    <site site="meuguia.tv.channels.xml">
      <!-- Exemplo de configuração para alguns canais -->
      
    <channel update="i" site="lineup.net.br" site_id="579146" xmltv_id="aande.br">A&E</channel>

    <channel update="i" site="lineup.net.br" site_id="740722" xmltv_id="agrobrasiltv.br">AGRO BRASIL TV</channel>

<!-- Atualizar serviço AGRO+ -->
    <channel update="i" site="" site_id="" xmltv_id="agromais.br">AGRO+</channel>
	
    <channel update="i" site="lineup.net.br" site_id="310177" xmltv_id="amc.br">AMC</channel>
	
	<channel update="i" site="lineup.net.br" site_id="992823" xmltv_id=animalplanet.br">ANIMAL PLANET</channel>
	
    <channel update="i" site="lineup.net.br" site_id="462230" xmltv_id="arte1.br">ARTE1</channel>
	
    <channel update="i" site="lineup.net.br" site_id="334752" xmltv_id="axn.br">AXN</channel>
	
    <channel update="i" site="lineup.net.br" site_id="367466" xmltv_id="baby.br">BABY TV</channel>

    <channel update="i" site="lineup.net.br" site_id="645520" xmltv_id="bandminas.br">BAND MINAS</channel>
	
    <channel update="i" site="lineup.net.br" site_id="936130" xmltv_id="bandnews.br">BAND NEWS</channel>

    <channel update="i" site="lineup.net.br" site_id="286037" xmltv_id="bandsp.br">BAND SP</channel>
	
    <channel update="i" site="lineup.net.br" site_id="983734" xmltv_id="bis.br">BIS</channel>

    <channel update="i" site="lineup.net.br" site_id="332466" xmltv_id="bloomberg.br">BLOOMBERG</channel>

    <channel update="i" site="lineup.net.br" site_id="377972" xmltv_id="boomerang.br">BOOMERANG</channel>

    <channel update="i" site="lineup.net.br" site_id="721829" xmltv_id="cartoonnetwork.br">CARTOON NETWORK</channel>
	
    <channel update="i" site="lineup.net.br" site_id="786630" xmltv_id="canalrural.br">CANAL RURAL</channel>

    <channel update="i" site="lineup.net.br" site_id="860020" xmltv_id="cinemax.br">CINEMAX</channel>

    </site>
  </channels>
</WebGrab>
